/*
==============================================
_variables.scss
==============================================
*/
$base-font-size: 16px;
$base-line-height: 24px;
$h1-font-size: 2 * $base-font-size;
$h2-font-size: 1.5 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1 * $base-font-size;
$h5-font-size: .83 * $base-font-size;
$h6-font-size: .67 * $base-font-size;

// colors
$black: #000;
$white: #fff;
$offwhite: #f2f2f2;
$gray: #c0c0c0;
$highlight: #ff0;
